.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté por encima de todo */
  }
  
  .modal-content {
    background: white;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    width: 90%;
    max-width: 400px;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .media-detail {
    width: 80%;
    height: auto;
    border-radius: 4px;
    margin: 15px 0;
    object-fit: cover;
  }
  
  /* Específico para imágenes pequeñas en el modal */
  .media-detail.small-image {
    max-width: 300px; /* Ajusta según tus necesidades */
    max-height: 300px;
  }

.modal-overlay {
    /* ... otros estilos ... */
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  .modal-content {
    /* ... otros estilos ... */
    transform: translateY(-50px);
    animation: slideIn 0.3s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    to {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 600px) {
    .modal-content {
      padding: 20px;
      width: 95%;
      max-width: none; /* Permite que el modal ocupe casi todo el ancho en pantallas pequeñas */
    }
  
    .media-detail.small-image {
      max-width: 200px; /* Reducir el tamaño máximo para imágenes pequeñas en el modal en pantallas pequeñas */
      max-height: 200px;
    }
  }
  