/* Mensajes.css */

/* 1. Scroll Container */
.mns-scroll-container-banner {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth; /* Desplazamiento suave */
  background-color: #000000; /* Fondo ligeramente más claro */
  font-family: 'Georgia', serif;
}

/* 2. Secciones */
.mns-section {
  scroll-snap-align: start;
  min-height: 100vh; /* Cada sección ocupa al menos la altura del viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;
}

.mns-page-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url('../../assets/images/mensaje.webp'); /* Ajusta la ruta si es necesario */
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 90px;
  padding: 0 5%;
  width: 60%;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
}

/* Capa de opacidad */
.mns-page-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* Color negro con opacidad */
  z-index: 1;
  /* Asegura que está detrás del contenido */
}

.mns-banner-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  position: relative;
  margin-bottom: 150px;
}

.mns-banner-content-left h1 {
  font-size: 5rem;
  color: #ffffff; /* Texto blanco */
  font-weight: bold;
  margin: 20px 0;
  font-family: 'Georgia', serif;
}

.mns-banner-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 40%;
  z-index: 2;
  position: relative;
  color: #ffffff;
  margin-bottom: 160px;
}

.mns-banner-content-right p {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: right;
  margin: 20px 0;
  font-family: 'Georgia', serif;
}

/* 3. Sección Condicional de Remitentes */
.mns-sender-list-section {
  background-color: #1e1e1e; /* Fondo ligeramente más claro */
  color: #ffffff;
  padding: 40px 20px;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateY(20px);
}

.mns-sender-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mns-sender-list-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Georgia', serif;
}

.mns-sender-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mns-sender-item {
  background-color: #4A90E2;
  color: #ffffff;
  padding: 20px 50px;
  margin: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 2.2rem;
}

.mns-sender-item:hover {
  background-color: #357ABD;
  transform: scale(1.05);
}

.mns-sender-item.selected {
  background-color: #2a2a2a;
  border: 2px solid #4A90E2;
}

/* 4. Información General de Mensajes */
.mns-info-section {
  background-color: #1e1e1e; /* Fondo ligeramente más claro */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mns-info-content p {
  font-size: 2.5rem;
  font-family: 'Georgia', serif;
  transform: translateY(-20px); /* Posición inicial */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.mns-info-content.mns-animate p {
  opacity: 1;
  transform: translateY(0);
}


/* 5. Tus Fragmentos Section */
.mns-fragments-section {
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 40px 20px;
  transition: opacity 1s ease-out, transform 1s ease-out;
  opacity: 0;
  transform: translateY(20px);
}

.mns-fragments-section.mns-animate {
  opacity: 1;
  transform: translateY(0);
}

.mns-fragments-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mns-fragments-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.mns-fragment-list {
  text-align: left;
}

.mns-fragment-list h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.mns-fragment-list ul {
  list-style-type: none;
  padding: 0;
}

.mns-fragment-item {
  background-color: #3a3a3a;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mns-fragment-item:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.mns-fragment-item h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.mns-fragment-item p {
  font-size: 1rem;
  margin-bottom: 8px;
}

.mns-fragment-fecha {
  font-size: 0.9rem;
  color: #bbb;
}

.mns-fragment-video {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-top: 10px;
}

.mns-fragment-imagen {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-top: 10px;
}

/* 6. Mensajes Section */
.mns-section-content {
  background-color: #1e1e1e; /* Fondo ligeramente más claro */
  color: #ffffff;
  padding: 20px 20px;
  overflow-y: auto;
}

.mns-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mns-item {
  margin-top: 60px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mns-item:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.mns-media {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

.mns-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mns-video {
  width: 80%;
  max-width: 800px;
  height: 800px;
  border-radius: 8px;
}

.mns-imagen {
  width: 100%;
  border-radius: 8px;
}

.mns-content {
  margin-top: 10px;
}

.mns-content h3 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}

.mns-content p {
  margin: 0.2rem 0;
  font-size: 1rem;
}

.mns-fecha-envio {
  font-size: 0.9rem;
  color: #bbb;
}

/* Nueva clase para el remitente */
.mns-sender {
  font-size: 1rem;
  color: #4A90E2; /* Mismo color destacado */
  margin-top: 0.5rem;
}

/* 7. Animaciones para Mensajes */
.mns-section-content.mns-animate .mns-item {
  opacity: 0;
  transform: translateY(20px);
  animation: mns-fadeInUp 0.5s forwards;
}

@keyframes mns-fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 8. Estados de Carga y Error */
.mns-loading,
.mns-error,
.mns-no-messages {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

/* 9. Responsividad */
@media (max-width: 1024px) {
  .mns-page-one {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .mns-banner-content-left h1 {
    font-size: 3rem;
  }

  .mns-banner-content-right p {
    font-size: 1rem;
  }

  .mns-info-content p {
    font-size: 2rem;
  }

  .mns-content h3 {
    font-size: 1.3rem;
  }

  .mns-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .mns-page-one {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .mns-banner-content-right {
    max-width: 80%;
  }

  .mns-banner-content-left h1 {
    font-size: 2.5rem;
  }

  .mns-info-content p {
    font-size: 1.8rem;
  }

  .mns-media {
    max-width: 100%;
  }

  /* Estilos para la lista de remitentes en pantallas pequeñas */
  .mns-sender-list {
    flex-direction: column;
    align-items: center;
  }

  .mns-sender-item {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .mns-banner-content-left h1 {
    font-size: 2rem;
  }

  .mns-banner-content-right p {
    font-size: 0.9rem;
  }

  .mns-info-content p {
    font-size: 1.5rem;
  }

  .mns-item {
    padding: 15px;
  }

  .mns-content h3 {
    font-size: 1.2rem;
  }

  .mns-content p {
    font-size: 0.8rem;
  }

  .mns-fecha-envio {
    font-size: 0.8rem;
  }

  .mns-sender {
    font-size: 0.9rem;
  }

  .mns-video {
    width: 90%;
  }

  /* Ajustes para la lista de remitentes en pantallas muy pequeñas */
  .mns-sender-list {
    flex-direction: column;
    align-items: center;
  }

  .mns-sender-item {
    width: 90%;
    text-align: center;
  }
}

/* 10. Sección Condicional de Remitentes */
.mns-sender-list-section {
  background-color: #1e1e1e; /* Fondo similar a otras secciones */
  color: #ffffff;
  padding: 40px 20px;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateY(20px);
}

.mns-sender-list-section.mns-animate {
  opacity: 1;
  transform: translateY(0);
}

.mns-sender-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mns-sender-list-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.mns-sender-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mns-sender-item-button {

  color: #ffffff;
  padding: 30px 30px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.6rem;
}

.mns-sender-item-button:hover {
  background-color: #2a2a2a;
  transform: scale(1.05);
}

.mns-sender-item-button.selected {
  background-color: #2a2a2a;
  border: 2px solid #ffffff;
}

/* 11. Animaciones para la Lista de Remitentes */
.mns-sender-list-section.mns-animate .mns-sender-item {
  opacity: 0;
  transform: translateY(20px);
  animation: mns-fadeInUp 0.5s forwards;
}

@keyframes mns-fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
