/* EditableTitle.css */

.editable-title {
    cursor: pointer;
    /* Espaciado inferior para separar del contenido */
}

.title-display {
    font-size: 2em;
    font-weight: bold;
    color: #fffefe;
    transition: color 0.3s ease;
}

.title-display:hover {
    color: #228291;
}

.title-input {
    font-size: 2em;
    padding: 8px 12px;
    border: 2px solid #228291;
    border-radius: 8px;
    outline: none;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}