.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.topbar {
  background-color: #1d1f27;
  color: #ffb74d;
  padding: 10px 20px;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar .toggle-btn {
  position: absolute;
  left: 20px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #ffb74d;
  cursor: pointer;
  padding: 0 10px;
}

.topbar .title {
  font-family: 'Cursive', sans-serif;
  font-weight: bold;
  text-align: center;
}

.topbar .user-info {
  position: absolute;
  right: 20px;
  font-size: 1rem;
  color: #ffb74d;
}

/* Sidebar oculta */
.sidebar {
  width: 40px; /* Tamaño reducido para el estado colapsado */
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px 10px; /* Padding ajustado */
  position: fixed;
  top: 60px; /* Altura de la topbar */
  left: 0;
  height: calc(100% - 60px);
  overflow: hidden;
  transition: width 0.3s ease;
  font-size: 18px;
  z-index: 2;
}

.sidebar:hover {
  width: 300px; /* Tamaño expandido al hacer hover */
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #ffb74d;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
  white-space: nowrap;
}

.sidebar a:hover {
  background-color: #ffb74d;
  color: #2e2e2e;
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo para los números de la sidebar */
.sidebar-number {
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.7;
}

.content {
  margin-left: 60px; /* Espacio acorde al tamaño colapsado de la sidebar */
  padding: 20px;
  padding-top: 80px;
  background-color: #1d1f27;
  color: #ffffff;
  width: calc(100% - 60px);
  transition: margin-left 0.3s ease;
}

.content.sidebar-expanded {
  margin-left: 200px; /* Ajuste cuando la sidebar está expandida */
  width: calc(100% - 200px);
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1d1f27;
}
