/* TopBar.css */
.topbar {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  padding: 10px 20px;
  position: relative;
  justify-content: space-between;
}

.topbar-user {
  color: #ffb74d;
  font-size: 16px;
}

.topbar-title {
  font-family: 'Cursive', sans-serif;
  font-size: 24px;
  color: #ffb74d;
  flex-grow: 1;
  text-align: center;
}
.logout-button {
  color: #ffb74d;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 10%; /* Define el ancho como el 10% del contenedor */
  margin-right: 2%; /* Aplica un margen a la derecha */
  text-align: center;
}

