@import url('https://fonts.googleapis.com/css?family=Tangerine');

/* Configuración general del TopBar */
.topbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Distribuye en tres columnas */
  align-items: center;
  background-color: #eeecec00;
  backdrop-filter: blur(5px);
  width: 100%;
  position: fixed;
  z-index: 5;
  padding: 10px;
}

/* Columna de usuario */
.topbar-user {
  color: #1f1c17;
  font-size: 50px;
  font-family: 'Tangerine', serif;
  margin-left: 20px;
  justify-self: start;
  text-shadow: 1px 1px 3px #bebebe, -1px 3px #a7a7a7;

}

/* Columna de título */
.topbar-title {
  font-family: 'Tangerine', serif;
  font-size: 58px;
  margin: 0;
  color: #000000;
  text-align: center;
  justify-self: center; /* Centra el título en la columna */
  text-shadow: 1px 1px 3px #bebebe, -1px 3px #a7a7a7;

}

/* Columna de botón (Logout) */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 40%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
  justify-self: end;
  margin-right: 50px;
}

/* Plus sign */
.sign {
  width: 100px;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* Text */
.text {
  right: 0;
  width: 0;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* Hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
}

/* Hover effect button's text */
.Btn:hover .sign {
  width: 30%;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  padding-right: 10px;
}

/* Button click effect */
.Btn:active {
  transform: translate(2px, 2px);
}
