@import url('https://fonts.googleapis.com/css2?family=Fairwater+Script&display=swap');



.topbar {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  padding: 10px 20px;
  width: 100%; /* Para que ocupe todo el ancho */
  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}

.topbar-user {
  color: #ffb74d;
  font-size: 30px; /* Tamaño más grande para administrador */
  font-family: 'Fairwater Script', cursive;
  margin-left: 20px;
}

.topbar-title {
  font-family: 'Fairwater Script', cursive;
  font-size: 28px;
  color: #ffb74d;
  text-align: center;
  flex-grow: 1;
}

.logout-button {
  color: #ffb74d;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 10%;
  margin-right: 2%;
  text-align: center;
}
