/* Contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Contenedor dividido en dos columnas */
.login-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


/* Sección del formulario */
.login-box {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.login-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.login-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

.login-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #b71c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #d32f2f;
}

.login-footer {
  text-align: center;
  margin-top: 1rem;
  color: #888;
}

/* Sección de la imagen */
.login-image {
  flex: 1;
  background-image: url('../img/undraw_moonlight_-5-ksn.svg'); /* Reemplaza con la ruta real de tu imagen */
  background-size: cover;
  background-position: center;
}
