/* Contenedor principal */
.context-container {
  width: 100%;
  background-color: #212121; /* Fondo oscuro elegante */
  color: #ffffff; /* Texto blanco */
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto; /* Centrado horizontal */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow-x: hidden; /* Evita overflow horizontal */
}

/* Contenido */
.context-content {
  text-align: center; /* Centrar todo el texto y contenido */
  max-width: 100%; /* Usar todo el ancho disponible */
  margin: 0 auto;
}

/* Títulos */
.context-title,
.context-subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #bb86fc;

}

/* Gráfico */
.context-chart {
  width: 100%; /* Usar el 100% del ancho del contenedor */
  margin: 0 auto; /* Centrar */
  background-color: #2b2b2b; /* Fondo ligeramente más claro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Asegurar que no haya desbordamiento */
}

/* Mensaje de carga */
.context-loading {
  font-size: 18px;
  color: #cccccc;
}

/* Listas */
.context-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  text-align: left; /* Alinear el texto de los elementos de la lista */
  max-width: 80%; /* Limitar el ancho de las listas */
}

.context-list-item {
  margin: 10px 0;
  background-color: #2b2b2b; /* Fondo oscuro */
  color: #bb86fc;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Contenedor de selección de fechas */
.context-date-picker-container {
  margin: 30px auto;
  text-align: center;
}

.context-date-picker {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Ajustar para pantallas pequeñas */
}

.context-date-picker-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.context-date-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #bb86fc;
}

/* Input de fechas */
.context-date-input {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #5f5e5e;
  color: #ffffff;
  width: 100%;
  max-width: 200px; /* Limitar el ancho máximo */
  text-align: center;
}

/* Scrollbar oscuro */
.context-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.context-container::-webkit-scrollbar-thumb {
  background-color: #444; /* Oscuro */
  border-radius: 8px;
}

.context-container::-webkit-scrollbar-track {
  background-color: #1e1e1e; /* Fondo oscuro */
}

/* Ajuste para evitar desbordamiento */
.context-chart canvas {
  max-width: 100%; /* Limitar ancho del canvas */
  height: auto; /* Mantener proporción */
}
