/* Contenedor principal */
.info-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #212121; /* Fondo oscuro */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff; /* Texto blanco */
  text-align: center;
  box-sizing: border-box;
  overflow: hidden; /* Evita desbordamientos */
}

/* Título principal */
.info-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #bb86fc; 
  text-transform: uppercase;
}

/* Contenedor de tarjetas */
.info-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 20px; /* Espaciado entre tarjetas */
  margin: 0 auto; /* Centra el contenido */
  max-width: 600px; /* Ancho máximo del grid */
  max-height: 100%;
}

/* Tarjetas */
.info-card {
  background-color: #2b2b2b; /* Fondo ligeramente más claro */
  border: 1px solid #444; /* Borde más oscuro */
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.info-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px); 
}

/* Títulos de las tarjetas */
.info-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #bb86fc; /* Color del título */
}

/* Contenido de las tarjetas */
.info-card p {
  font-size: 16px;
  color: #ffffff; /* Texto blanco */
  margin: 0;
}

/* Modal */
.info-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

/* Contenido del modal */
.info-modal-content {
  background-color: #2b2b2b; /* Fondo del modal */
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff; /* Texto blanco */
}

/* Botón de cerrar */
.info-modal-close {
  background-color: #bb86fc; 
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.info-modal-close:hover {
  background-color: #9b6bf2;
}

.info-modal-content::-webkit-scrollbar {
  width: 8px;
}

.info-modal-content::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 8px;
}

.info-modal-content::-webkit-scrollbar-track {
  background-color: #2b2b2b;
}
