/* Asegurar que el contenedor ocupe toda la pantalla */
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Ocupar toda la altura de la ventana */
}

/* Estilo para la sección izquierda (formulario) */
.left-section {
  flex: 1;
  padding: 20px;
  background-color: #171717;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100vh; /* Asegurar que ocupe toda la pantalla */
}

/* Estilo para la sección derecha (lista de mensajes) */
.right-section {
  flex: 1;
  padding: 10px;
  background-color: #2e2e2e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Habilitar scroll solo en la derecha */
  height: 100vh; /* Asegurar que ocupe toda la pantalla */
}

/* Estilos para el formulario */
.form {
  width: 100%;
  max-width: 350px;
  background: #0a192f;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(133, 189, 215, 0.3) 0px 20px 30px -10px;
}

.form input, .form textarea, .form button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form input, .form textarea {
  background-color: #2e2e2e;
  color: #ccd6f6;
}

.form button {
  background-color: #64ffda;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #52e0c4;
}

/* Estilo para cada mensaje */
.message {
  background-color: #3a3a3a;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.message h3 {
  margin: 0;
  color: #64ffda;
}

.message p {
  margin: 5px 0;
  color: #ff5f5f;
  font-size: 0.9em;
}
