.analysis-container {
  display: flex;
  width: 100%;
  margin-top: 10%;
}

.filters-panel {
  width: 30%;
  padding: 10px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
}

.charts-panel {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-box {
  border: 2px dashed #ccc;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: background-color 0.2s, border-color 0.2s;
}

.filter-box.highlight {
  background-color: #e0f7fa;
  border-color: #00796b;
}

.filter-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: grab;
  transition: background-color 0.2s;
}

.filter-item:hover {
  background-color: #e0e0e0;
}


.add-chart-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.add-chart-button:hover {
  background-color: #218838;
}

.chart-container {
  width: 45%;
}
