.graphics-container {
  display: grid;
  grid-template-areas:
    "left-panel nivel-seguridad user-context"
    "relation-charts relation-charts relation-charts";
  grid-template-columns: 0.5fr 1fr 1fr; /* Proporciones iguales en la fila superior */
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f9;
}

.left-panel {
  grid-area: left-panel;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nivel-seguridad,
.user-context {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 350px; /* Ajusta la altura */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Asegura que los gráficos no se salgan */
}
.relation-charts {
  grid-area: relation-charts;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container canvas {
  width: 100% !important; /* Asegura que el gráfico se adapte */
  height: 100% !important;
  max-height: 90%; /* Limita la altura dentro del contenedor */
}