
/* Estilo para el título de la sección de monitoreo */
.settings-section h3 {
  font-size: 24px;
  margin: 20px 0;
  color: #FFA500;
  /* Color de acento */
}

.update-button {
  background-color: #00B7FF;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 15px 25px;
  margin: 10px;
  width: 40%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.update-button:hover {
  background-color: #FF30FF;
  transform: scale(1.05);
}

.artist-songs-table-container{
  background-color: rgba(255, 255, 255, 0.504);
  border-radius: 2%;
}
.emotions-container {
  background-color: #07182e54;
  padding: 30px;
}

.artist-songs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.artist-songs-table th,
.artist-songs-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.artist-songs-table th {
  background-color: #e45454;
  color: #fff;
}

.artist-songs-table tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.artist-songs-table img {
  border-radius: 5px;
}

